<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="col-xs-12">

    <center><h2>Contact Me:</h2></center>
    <br/>

    <div class="jumbotron text-center">
        <span class="glyphicon glyphicon-phone" >
            014-7370966
        </span>     
        <br/>
        <a href = "mailto: sitiinsyirah161296@gmail.com">
        <span class="glyphicon glyphicon-envelope" >
            sitiinsyirah161296@gmail.com
        </span>
        </a>
        <br/>
        <a href="https://github.com/syirahshauki161296/"
        <i class="fa fa-github">
            https://github.com/syirahshauki161296
        </i>
        </a>
    </div>

</div>
