<div class="col-xs-12">

    <center><h2>Universiti Tenaga Nasional (UNITEN)</h2></center>
    <br/>
    <div class="jumbotron text-center">
        <div data-toggle="collapse" data-target="#foundation"><a><h3>Foundation</h3></a></div>
        <div id="foundation" class="collapse">
            2014 - 2015, 
            Foundation in Computer Science, 
            CGPA: 3.60
        </div>
        <br/>
        <div data-toggle="collapse" data-target="#degree"><a><h3>Degree</h3></a></div>
        <div id="degree" class="collapse">
            2015 - 2018, 
            Bachelor of Computer Science (Software Engineering) (Hons.), 
            CGPA: 3.32
        </div>
    </div>

</div>