<div class="col-xs-12">

    <center><h2>Dagangnet Technologies Sdn Bhd</h2></center>
    <br/>
    <div class="jumbotron text-center">
        <div data-toggle="collapse" data-target="#intern" ><a><h3>Internship (Analyst Programmer)</h3></a></div>
        <div id="intern" class="collapse">
            FEB 2018 - SEP 2018
            <br/>
        <li>Code, debug and test developed applications</li>
        </div>
        <br/>
        <div data-toggle="collapse" data-target="#staff"><a><h3>Analyst Programmer</h3></a></div>
        <div id="staff" class="collapse">
            OCT 2018 – OCT 2020
            <br/>
            <li>
            Analyze application requirements and design
            specifications for the development of new applications or
            enhancement of existing applications from System Analyst teams</li>
            <li>Code, debug and test developed applications</li>
            <li>Work closely with testing teams in ensuring that the
            application meets the requirements that were specified
            by clients/users</li>
            <li>Create web application that enable user to be registered online, while officer can verify and approve user of application</li> 
            <li>Used java for backend language,and html, css, javascript, angularjs for frontend language
            while oracle for database</li>
            <li>Used glassfish for application server while nginx for web server</li>
            <li>Used RESTful API for web services development</li>            
        </div>
        <br/>
    </div>
</div>